@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full overflow-x-hidden dark:text-slate-300 text-slate-600 font-normal;
  }
  .app-warp {
    &.light,
    &.skin--default {
      @apply bg-slate-100;
    }
    &.lght,
    &.skin--bordered {
      @apply bg-transparent;
    }
    &.dark {
      @apply bg-[#0f172a] text-slate-300;
    }
  }
  html,
  body {
    @apply h-full;
  }

  .rentitonline-app-wrapper {
    @apply relative;
  }
  .single-sidebar-menu .ReactCollapse--collapse {
    transition: height 400ms;
  }
  .space-xy-5 {
    > div,
    > button,
    > a,
    label,
    > * {
      @apply mr-2 mb-2;
    }
  }
  .space-xy-6 {
    > div,
    > button,
    > a,
    label,
    > * {
      @apply mr-4 mb-2;
    }
  }


  html[dir="rtl"] {
    .recharts-wrapper {
      direction: rtl;
    }
    .recharts-yAxis {
      .recharts-text {
        text-anchor: flex-start;
      }
    }
  }
  .rentitonline-app {
    .leaflet-control {
      z-index: 0 !important;
    }
    .leaflet-control-container {
      z-index: 555 !important;
      position: relative;
    }
    .recharts-curve.recharts-tooltip-cursor {
      display: none;
    }
    .recharts-wrapper.bar-chart {
      .recharts-tooltip-cursor {
        fill: transparent;
      }
    }
    .recharts-tooltip-wrapper {
      border: none !important;
    }

    // .recharts-cartesian-grid line,
    // .recharts-polar-grid-angle line,
    // .recharts-yAxis line,
    // .recharts-xAxis line {
    //   @apply stroke-black-200 dark:stroke-slate-700;
    // }
  }
}

.compared_column {
  width: 70%;
  display: flex;
  overflow: auto;
}

.table_of_compare .table-container {
  display: flex;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.table_of_compare .table-container .row {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #ddd
}

.table_of_compare .table-container .cell {
  padding: 12px 40px;
  color: #191919;
  font-weight: 500;
  text-align: left;
  font-size: 15px
}

.table_of_compare .table-container .cell:nth-child(even) {
  background: #faf8f8
}

@media screen and (max-width: 567px) {
  .table_of_compare .table-container .cell {
      font-size:14px
  }
}

.table_of_compare .header-row {
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: rgba(231,231,231,.5411764706) solid 2px
}

.table_of_compare .header-row .cell {
  margin-top: 2px
}

.table_of_compare .data-row {
  display: flex;
  flex-direction: column;
  min-width: 28%
}

@media screen and (max-width: 990px) {
  .table_of_compare .data-row {
      min-width:48%
  }
}

.table_of_compare .data-row .cell {
  text-align: center;
  border-right: #f2f2f2 solid 1px;
  font-weight: 600
}

.table_of_compare .data-row .cell:first-child {
  min-height: 100px;
  min-height: 100px;
  justify-content: center;
  display: flex;
  align-items: center
}

.table_of_compare .logo {
  max-height: 60px;
  margin: 0 auto;
  max-width: 150px
}

@media screen and (max-width: 990px) {
  .table_of_compare .logo {
      max-height:60px;
      max-width: 110px
  }
}

.table_of_compare .header-cell {
  flex: 2;
  min-height: 90px;
  display: flex;
  align-items: center
}

.compared_column::-webkit-scrollbar {
  width: 12px;
  height: 12px
}

.compared_column::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px
}

.compared_column::-webkit-scrollbar-thumb {
  background: #1e90ff;
  border-radius: 10px;
  border: 3px solid #f1f1f1
}

.compared_column::-webkit-scrollbar-thumb:hover {
  background: #007acc
}

.compared_column {
  scrollbar-width: thin;
  scrollbar-color: #c7c7c7 #f1f1f1
}
.insights-row>div{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    gap: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.insights-row>div>div{
  min-width: 200px
}
.z-1000 {
  z-index: 1000;
}


@layer components {
  @import "components/table.scss";
  @import "components/map.scss";
  @import "components/progress";
  @import "components/tippy";
  @import "components/swiper";
  @import "components/alert";
  @import "components/card";
  @import "components/auth";
  @import "components/button";
  @import "components/badge";
  @import "components/typography";
  @import "components/form";
  @import "components/input-group";
  @import "components/react-select";
  @import "components/pagination";
  @import "components/breadcrumbs";
  @import "layout/header";
  @import "layout/footer";
  @import "layout/sidebar";
  @import "layout/settings";
  @import "utility/mix";
  @import "utility/loading";
  @import "utility/css-animation";
  @import "utility/calander";
  @import "utility/full-calender";
  @import "components/print.scss";
}
@layer utilities {
}
